body {
  font-family: 'Rambla', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Rambla', sans-serif;
  color: #5ce;
}

h1 {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;    
}

#timer {
  color: #CCBE14;
}

#gameboard {
  display: none;
}

#gameboard {
  font-size: 18px;
}

#question {
  font-weight: bold;  
}

#question img {
  max-width: 240px;
}

#answers div {
  margin: 10px;
  padding: 5px;
  border: solid 1px #ccc;
}

#answers div:hover, .hovered {
  background-color: #008BB2;
}

#answers div:active {
  background-color: #5ce;
}