body {
  font-family: 'Rambla', sans-serif;
  font-size: 16px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Rambla', sans-serif;
  color: #5ce;
}

h1 {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;    
  color: #B2A609;
  font-size: 2em;
}

#logo {
  max-height: 200px;
}

#timer {
  color: #B2A609;
  font-size: 3em;
}

#gameboard {
  display: none;
}

#gameboard {
  font-size: 18px;
}

#question {
  font-weight: bold;  
}

#question img {
  max-width: 240px;
}

#answers div {
  margin: 10px;
  padding: 5px;
  border: solid 1px #ccc;
}

#answers div:hover, .hovered {
  background-color: #128FB2;
}

#answers div:active {
  background-color: #5ce;
}